### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

f = open('test.txt','w')
f.write(test1)
f.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
f = open('test.txt')
test2 = f.read()
f.close()

In [3]:
print(test1)
print()
print(test2)

This is a test of the emergency text system

This is a test of the emergency text system

In [4]:
test1 == test2

True

### 3. Create a CSV file called books.csv by using these lines:
```
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
```

In [5]:
import csv

fields = ['title','author','year']

rows = [['The Weirdstone of Brisingamen','Alan Garner','1960'],
       ['Perdido Street Station','China Miéville','2000'],
       ['Thud!','Terry Pratchett','2005'],
       ['The Spellman Files','Lisa Lutz','2007'],
       ['Small Gods','Terry Pratchett','1992']]


with open('books.csv','w') as file:
    csvwriter = csv.writer(file)
    
    csvwriter.writerow(fields)
    
    csvwriter.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [8]:
import sqlite3

conn = sqlite3.connect('books.db')

conn.execute('create table books (title text,author text,year int)')

conn.close()

### 5. Read books.csv and insert its data into the book table.

In [18]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')

with open('books.csv') as f:
    
    data = csv.reader(f,delimiter = '\n')
    
    a = 0
    
    for i in data:
        
        if a==0 or a%2!=0:
            
            pass
        
        else:
            
            conn.execute('insert into books values("{}","{}","{}")'.format(i[0].split(',')[0],i[0].split(',')[1],i[0].split(',')[2]))
            
        a += 1

In [19]:
conn.commit()

### 6. Select and print the title column from the book table in alphabetical order.

In [33]:
import sqlite3

conn = sqlite3.connect('books.db')

sql1 = 'select title from books order by 1'

for row in conn.execute(sql1).fetchall():
    print(row)
    
conn.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [14]:
import sqlite3

conn = sqlite3.connect('books.db')

sql1 = 'select * from books order by year'

for row in conn.execute(sql1).fetchall():
    print(row)
    
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [29]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///books.db")
conn = engine.connect()
rows = conn.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [45]:
pip install redis

Collecting redisNote: you may need to restart the kernel to use updated packages.

  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.6.0

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)