### Question1 Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
<br>
Examples<br>
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]<br>
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]<br>
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []<br>

In [1]:
def filter_list(lis):
    
    if type(lis) == list:
        
        new_ = []
        
        for i in lis:
            
            if type(i) == int:
                
                new_.append(i)
                
        return new_
    
    else:
        
        return 'Please give list data type data!'

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["Nothing", "here"])

[]

### Question2 Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
```
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]
```

In [4]:
def add_indexes(lis):
    
    if type(lis) == list:
        
        new_ = []
        
        for i in range(len(lis)):
            
            new_ += [lis[i] + i]
            
        return new_
    
    else:
        
        return "Please give list data type data!"

In [5]:
add_indexes([1,2,3,4,5])

[1, 3, 5, 7, 9]

In [6]:
add_indexes([5,4,3,2,1])

[5, 5, 5, 5, 5]

### Question3 Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth.

```
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0
```

In [26]:
def cone_volume(h,r):
    
    return round(((1/3)*3.14*(r**2) *h),2)

In [27]:
cone_volume(3,2)

12.56

In [28]:
cone_volume(15,6)

565.2

In [29]:
cone_volume(18,0)

0.0

### Question4 This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
```
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220
```

In [30]:
def triangle(n):
    
    if type(n) == int or type(n) == float:
        
        return (n*(n+1))/2
    
    else:
        
        return "Please give appropriate data type data!"

In [32]:
triangle(6)

21.0

In [33]:
triangle(215)

23220.0

### Question5 Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
```
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7
```

In [49]:
def missing_num(lis):
    
    if type(lis) == list:
        
        lis.sort()
        
        for i in range(len(lis)-1) :
            
            if lis[i+1] - lis[i] == 1:
                
                continue
                
            else:
                
                return lis[i] + 1
            
        return lis[i+1] + 1
            
    else:
        
        return "Please give list data type data!"

In [52]:
missing_num([7, 6, 3, 9, 5, 10, 1, 4, 8])

2

In [53]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7