### Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples<br>

is_symmetrical(7227) ➞ True<br>
is_symmetrical(12567) ➞ False<br>
is_symmetrical(44444444) ➞ True<br>
is_symmetrical(9939) ➞ False<br>
is_symmetrical(1112111) ➞ True<br>

In [3]:
def is_symmetrical(n):
        
    if str(n) == str(n)[::-1]:

        return True

    else:

        return False

In [4]:
is_symmetrical(12567)

False

In [5]:
is_symmetrical(7227)

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples <br>

multiply_nums(&quot;2, 3&quot;) ➞ 6<br>
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24<br>
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0<br>
multiply_nums(&quot;10, -2&quot;) ➞ -20<br>

In [6]:
def multiply_nums(n):
    
    lis = n.split(',')
    
    prod = 1
    
    for i in lis:
        
        prod *= int(i)
        
    return prod

In [7]:
multiply_nums("54, 75, 453, 0")

0

In [8]:
multiply_nums("1, 2, 3, 4")

24

### Question 3
Create a function that squares every digit of a number.<br>

Examples<br>

square_digits(9119) ➞ 811181<br>
square_digits(2483) ➞ 416649<br>
square_digits(3212) ➞ 9414<br>

Notes<br>

The function receives an integer and must return an integer.

In [11]:
def square_digits(n):
    
    if type(n) == int:
        
        lis = list(str(n))
        square = ''
        
        for i in lis:
            
            square += str(int(i)**2)
            
        return square
    
    else:
        
        return "Please give the integer data type values!"

In [12]:
square_digits(9119)

'811181'

In [13]:
square_digits(2483)

'416649'

In [14]:
square_digits(3212)

'9414'

### Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples <br>

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]<br>
setify([4, 4, 4, 4]) ➞ [4]<br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]<br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]<br>

In [16]:
def setify(n):
    
    if type(n) == list:
        
        return list(set(n))
    
    else:
        
        return 'Please give the list data type data!'

In [17]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [18]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [19]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

### Question 5
Create a function that returns the mean of all digits.

Examples<br>

mean(42) ➞ 3<br>
mean(12345) ➞ 3<br>
mean(666) ➞ 6<br>

Notes<br>

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
 The mean will always be an integer.<br>

In [24]:
def mean(n):
    
    if type(n) == int:
        
        lis = list(str(n))
        count = 0
        sum = 0
        
        for i in lis:
            
            count+=1
            sum += int(i)
            
        return int(sum/count)
    
    else:
        
        return 'Please give integer type value!'

In [25]:
mean(12345)

3

In [26]:
mean(666)

6