### Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

#### Examples

```
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"
```

In [8]:
def next_in_line(lis,n):
    
    if type(lis) == list and type(n) == int:
        
        if len(lis)>=1:

            lis.pop(0)
            lis.append(n)

            return lis
        
        else:
            
            return "No list has been selected"
    
    else:
        
        return "Please give the appropriate data type values!"

In [4]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [5]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [9]:
next_in_line([], 6)

'No list has been selected'

In [10]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

### Question2 Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

#### Examples
<br>
get_budgets([<br>
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }<br>
]) ➞ 65700<br>
<br>
get_budgets([<br>
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }<br>
]) ➞ 62600<br>

In [11]:
# budget sum finder :
def get_budgets(lis):
    
    sum = 0
    
    for i in lis:
        
        if type(i) == dict:
            
            sum += i['budget']
            
    return sum

In [12]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [13]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

62600

### Question3 Create a function that takes a string and returns a string with its letters in alphabetical order.

#### Examples<br>
alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;<br>
alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;<br>
alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;<br>
alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;<br>
alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;<br>

In [14]:
def alphabet_soup(string):
    
    if type(string) == str:
        
        lis = list(string)
        
        lis.sort()
        
        return "".join(lis)
    
    else:
        
        return "Please give the string data type data!"

In [15]:
alphabet_soup("hello")

'ehllo'

In [16]:
alphabet_soup("javascript")

'aacijprstv'

### Question4
```
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

Examples

compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26
```

In [20]:
def compound_interest(p,t,r,n):
    
    a = round(p*((1 + (r/n))**(n*t)),2)
    
    return a

In [21]:
compound_interest(100,1,0.05,1)

105.0

In [22]:
compound_interest(3500,15,0.1,4)

15399.26

### Question5 Write a function that takes a list of elements and returns only the integers.

Examples

return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]<br>
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]<br>
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]<br>
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]<br>

In [23]:
# concept of list comprehension has been used :

def return_only_integer(lis):
    
    if type(lis) == list:
        
        return [i for i in lis if type(i) == int]
    
    else:
        
        return "Please give list data type value!"

In [24]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [25]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [27]:
return_only_integer(["String", True, 3.3, 1])

[1]